<table class="table tabel-hover table-inverse">
  <thead>
    <tr>
      <th></th>
      <th>Title</th>
      <th>Opinion</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% games.each do |game| %>
      <tr>
        <td>
          <%= link_to (game.user) do %>
            <%= image_tag game.user.get_profile_image, size:'100x100' %>
          <% end %>
        </td>
        <td>
          <%= link_to (game) do %>
            <%= game.title %>
          <% end %>
        </td>
        <td><%= game.body %></td>
      </tr>
    <% end %>
  </tbody>
</table>